/* You can add global styles to this file, and also import other style files */


@import "./assets/styles/theme.scss";



button{
    background-color: $button-color;
    color:white;
    &:hover{
        background-color: yellow;
        color:black;
        cursor:pointer;
    }
}

